@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #F8F0E5;
}

body {
  background: rgb(1,1,34);
  background: linear-gradient(90deg, rgba(1,1,34,1) 17%, rgba(38,4,68,1) 50%, rgba(1,1,34,1) 100%);
}

.navbar {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(199, 0, 57, 0.4) 0px 5px, rgba(199, 0, 57, 0.3) 0px 10px, rgba(199, 0, 57, 0.2) 0px 15px, rgba(199, 0, 57, 0.1) 0px 20px, rgba(199, 0, 57, 0.05) 0px 25px;
}

.logo{
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.searchPanel{
  padding: .8rem;
  font-size: 1rem;
  border-radius: 1rem 0 0 1rem;
  border: 1px solid transparent;
  border: none;
  outline: none;
}

.search-btn{
  border-radius: 0 1rem 1rem 0;
  color: #F8F0E5;
}

.beer-container{
  margin-top: 2rem;
}

.card-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}

.card{
  background-color: #040D12;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  box-shadow: rgba(245, 235, 235, 0.25) 0px 5px 15px;
  width: 200px;
  height: 350px;
  margin-block: 1rem;
  margin-inline: 1.2rem;
  border-radius: 1rem;
  padding: .5rem;
  gap: .5rem;
  cursor: pointer;
  border: 0.5rem;
  overflow: hidden;
  align-content: baseline;
  transition: all 0.1s ease-in;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: rgba(245, 235, 235, 0.45) 0px 5px 15px;
}

.card-img{
  max-width: 200px;
  max-height: 210px;
}

.card-title{
  font-size: 1.2rem;
  font-weight: 600;
}

.card-desc{
  font-size: 400;
  font-size: .8rem
}

.page-btnPanel{
  margin: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.page-btn{
  color: #F8F0E5;
  padding: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


